- macro studies_table(title, current_user, elem_id='analysis-studies-table')
    - if title
      h3 Studies associated with {{title}}
    - if current_user.is_authenticated()
      button.bt.btn-primary#select-all-btn Select all studies on this page
      button.bt.btn-primary#deselect-all-btn Deselect all studies on this page
      br
      br
      
      %table.table-striped.table-hover.table.table-condensed.selectable-table id='{{elem_id}}'
    - else
      %table.table-striped.table-hover.table.table-condensed id='{{elem_id}}'

      thead
        tr
          th Title
          th Authors
          th Journal
          th {{ 'Loading' if title else 'Activations' }}