- macro viewer(analysis)

  .row
    .md-col-8.md-offset-1.viewer
      .home-viewer-left-two
        #view-coronal.view.home
          %canvas height="220" width="220"
          %#nav-yaxis.slider.nav-slider-vertical

        #view-sagittal.view.home
          %canvas height="220" width="264"
          %#nav-xaxis.slider.nav-slider-horizontal
        .home-viewer-caption 
          |An automated meta-analysis of {{ analysis.n_studies }} studies of <a href="{{ url_for('analyses.show', val=analysis.name) }}" style="font-size: 1.2em;">{{ analysis.name }}</a>

      .home-viewer-right
        #view-axial.view.home
          %canvas height="264" width="220"
          %#nav-zaxis.slider.nav-slider-vertical

      
