# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.DS_Store

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings/

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Data
#data/
deploy/

migrations/

# Config, cache, assets, and other stuff we don't need to share
nsweb/initializers/settings.py
#nsweb/static/js/coffee.js
nsweb/static/.webassets-cache/
#nsweb/static/js/main.min.js
#nsweb/static/css/main.min.css
#nsweb/static/css/main.css

TODO.txt