alembic==1.6
amqp==2.5.2
argh==0.26.2
asn1crypto==0.24.0
atomicwrites==1.4.0
attrs==19.1.0
Babel==2.7.0
bcrypt==3.1.7
billiard==3.6.4
biopython==1.83
blinker==1.4
celery==4.3.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
cssmin==0.2.0
cycler==0.10.0
decorator==4.1.2
docker-py
dockerpty==0.3.4
docopt
fig
Flask==1.1.1
Flask-Assets==0.12
Flask-BabelEx==0.9.3
Flask-Cake
Flask-Caching==1.7.2
Flask-Cors
Flask-Login==0.4.1
Flask-Mail==0.9.1
flask-marshmallow==0.10.1
Flask-Migrate==2.5.2
Flask-Restless==0.17.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
flask-swagger
Flask-Uploads==0.2.1
markupsafe==2.0.1
Flask-User==1.0.1.5
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
importlib-metadata==0.19
itsdangerous==1.1.0
Jinja2==2.10.1
joblib
kombu==4.6.3
Mako==1.1.0
marshmallow==2.20.0
marshmallow-sqlalchemy==0.17.0
matplotlib~=3.1.1
mimerender==0.6.0
more-itertools==7.2.0
nibabel==4.0
nilearn==0.9.0
packaging==19.1
passlib==1.7.1
pathtools==0.1.2
pluggy==0.12.0
ply==3.11
psycopg2
py==1.8.0
pycparser==2.19
pyparsing==2.2.0
pyScss
pytest==5.0.1
python-dateutil==2.6.1
python-editor==1.0.4
python-mimeparse==1.6.0
pytz==2018.3
PyYAML
redis==3.3.6
requests
seaborn
selenium==3.141.0
six==1.16.0
speaklater==1.3
SQLAlchemy==1.3.6
texttable==0.8.8
urllib3==1.25.3
vine==1.3.0
watchdog==0.9.0
wcwidth==0.1.7
webassets==0.12.1
websocket-client==0.11.0
Werkzeug==0.15.5
WTForms==2.2.1
zipp==0.5.2
kiwisolver==1.3.0
