six
blinker
celery
cssmin
fig
Flask>=0.10.1
Flask-Assets
Flask-BabelEx
Flask-Cake>=0.2.1
Flask-Caching
Flask-Mail
Flask-Marshmallow
Flask-Migrate
Flask-Restless>=0.12
Flask-Script
Flask-Swagger
Flask-SQLAlchemy>=1.0
Flask-Uploads
Flask-User
Flask-WTF
gunicorn
jinja2
marshmallow
marshmallow-sqlalchemy
matplotlib
neurosynth
nibabel
nilearn
numpy>=1.8
pandas>=0.13
ply
psycopg2
pyscss
pytest
redis
seaborn
selenium
scikit-learn
SQLAlchemy
uwsgi
webassets
