- set page_title = 'Neurosynth|Term-based meta-analyses'
- extends "layout/base.html"
- block content
  .row#page-analysis
    .col-md-12.content
      h1 Term-based meta-analyses
      table.table-striped.table-hover.table.table-condensed#term-analyses-table
        thead
          tr
            th style='width: 220px;' Name
            th style='width: 60px;' Num. studies
            th style='width: 80px;' Num. activations