{% set page_title = 'Neurosynth|Term-based meta-analyses' %}
{% extends "layout/base.html" %}
{% block content %}
  <div id="page-analysis" class="row">
    <div class="col-md-12 content">
      <h1>Term-based meta-analyses</h1>
      <table id="term-analyses-table" class="table-striped table-hover table table-condensed">
        <thead>
          <tr>
            <th  style="width: 220px;">Name</th>
            <th  style="width: 60px;">Num. studies</th>
            <th  style="width: 80px;">Num. activations</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
{% endblock %}