{% set page_title = 'Neurosynth Gene Atlas -- ' + gene.symbol %}
{% extends "layout/base.html" %}
{% block content %}
  {% import "macros/_decode_viewer.html" as viewers %}
  {% import "macros/_scatterplot.html" as scatterplot %}
  <div class="row" id="page-genes-show">
    <div class="col-md-10">
      <h2>{{gene.symbol}} gene expression</h2>
      <div class="lead">
        Brain-wide gene expression levels for the gene {{gene.symbol}} ({{gene.name}}), as made available in the <a href="http://human.brain-map.org/">Allen Human Brain Atlas</a>. Detailed information is available from the <a href="http://human.brain-map.org/microarray/search/show?exact_match=false&search_term={{gene.symbol}}&search_type=gene">Allen Brain Atlas data portal</a>.
      </div>
      <div class="decode-viewer" style="width: 580px; float: left;">
        <ul id="decode-menu" class="nav nav-pills">
          <li class="active">
            <a href="#maps" data-toggle="tab">Map</a>
          </li>
          <li>
            <a href="#scatter" data-toggle="tab">Plot</a>
          </li>
        </ul>
        <div id="decode-tab-content" class="tab-content top-space20">
          <div id="maps" class="tab-pane active">
            <script type="text/javascript">
              var options = {"panzoomEnabled":false};
              var settings = ['no-zoom', 'layers','nav','checkboxes'];
              var images = {{images|safe}};
              var image_id = '{{image_id}}';
            </script>
            <p>{{viewers.viewer()|safe}}</p>
          </div>
          <div id="scatter" class="tab-pane">
            <div id="loading-message">Loading image...</div>
            <div id="scatterplot" style="width: 500px; float: left; position: relative;">
              <h4>There's nothing here yet!</h4>
              <p>That's probably because you haven't selected a Neurosynth term to compare this gene map against. To replace this annoying message with a pretty scatter plot, select one of the terms over there in the table on the right.</p>

              <p>Note that most images will usually take 1 - 2 seconds to show up--we're computing them fresh, just for you!</p>
            </div>
          </div>
        </div>
      </div>
            
      <div class="analysis-list" style="width: 200px; margin-left: 20px; margin-top: 50px;">
        <h4>Term similarity</h4>
        <p>To compare the {{gene.symbol}} map against a Neurosynth term, click on an arrow below.</p>
        <table id="decoding_results_table" class="table table-striped table-hover table-condensed">
          <thead>
            <tr>
              <th></th>
              <th>analysis</th>
              <th>corr.</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
