- set page_title = 'Neurosynth|Custom Analyses'
- extends "layout/base.html"
- block content
  .row
    .col-md-12
      h3 Custom Analyses
  .row
    - if current_user.is_authenticated()
      .col-md-3
        /h4 Your Saved Analyses
        /hr
        div#custom-list-container
          p Loading your saved analyses...
      .col-md-9#active-analysis-container
        br
     - else
      .col-md-12
        p You must be signed in to be able to create and save custom analyses.
        span
          a.btn.btn-primary href="/user/sign-in" Sign In
          span or
          a.btn.btn-primary href="/user/register" Register

  div#modal-container
    br


