{% set page_title = 'Neurosynth|Custom Analyses' %}
{% extends "layout/base.html" %}
{% block content %}
  <div class="row">
    <div class="col-md-8">
      <h3>These are not the tools you're looking for.</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Custom online analyses are no longer supported on neurosynth.org. This functionality was experimental, and we've decided to take it off-line for now. The precipitating reasons for this were that (a) the interface was buggy, (b) the results were insensible much (most?) of the time, and (c) what was intended to be purely an exploratory, experimental tool was being used to generate questionable results that users were in our view reading far too much into (and in some cases, reporting in publications).</p>
      <p>We're continuing to develop a more comprehensive and robust suite of tools for online meta-analysis, but for the time being, if you want to conduct custom analyses using Neurosynth data, you'll have to use the <a href="https://github.com/neurosynth/neurosynth">Python core tools</a>.</p>
    </div>
  </div>

  <div id="modal-container">
    <br />
  </div>
{% endblock %}