
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\000031}}
#image-library {
  width: 520px;
  font-size: 12px;
  height: 500px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000311}}
  #explore-wrapper {
    float: left; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000315}}
    .source {
      clear: left;
      float: left;
      margin-top: 5px;
      font-size: 16px;
      line-height: 1.2em; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000323}}
      .source .source-label {
        float: left;
        line-height: 2em; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000329}}
        .source input {
          margin: 0px 4px 0px 8px;
          float: left; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000335}}
          .source button {
            margin: 0px;
            float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000342}}
#button-set > button {
  margin: 0px 5px 0px 0px;
  font-size: 20px;
  padding: 10px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000348}}
  #explore-data-panel {
    background: #eee;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    width: 250px;
    margin-left: 15px;
    margin-top: 25px;
    padding: 10px;
    float: left; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/explore\.css\.scss}line{font-family:\0000361}}
    .explore-data-box {
      float: left;
      padding-bottom: 10px;
      font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/features\.css\.scss}line{font-family:\000031}}
.feature_search {
  margin-top: 20px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/features\.css\.scss}line{font-family:\000037}}
  .feature_search input {
    width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/features\.css\.scss}line{font-family:\0000312}}
#feature-image-selector {
  width: 300px;
  margin: 20px 15px 0px 0px;
  float: right; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/features\.css\.scss}line{font-family:\0000317}}
  #feature-image-selector select {
    width: 260px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\000031}}
.mini-box {
  padding-left: 10px;
  border-left: 1px solid #999;
  float: right; }


@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\000031}}
.big-text {
  font-size: 36px;
  float: left; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\000038}}
  .big-text input {
    width: 60px;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.2em;
    height: 36px;
    margin: 0px 0px 4px 10px;
    text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000319}}
#locations .lead {
  float: left;
  clear: left; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000324}}
  #loc-view-axial {
    height: 195px;
    margin-bottom: 20px;
    margin-left: 20px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000331}}
    #loc-view-coronal {
      height: 165px;
      margin-left: 20px; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000337}}
      #loc-view-sagittal {
        height: 200px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000342}}
        .loc-viewer {
          margin-left: 20px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000346}}
          #study-table {
            font-size: 13px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000350}}
            #load-location-box {
              width: 300px;
              text-align: center;
              margin-top: 30px;
              float: left; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tal\/Dropbox\/Code\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000357}}
              #rad-in {
                clear: none;
                width: 200px; }


