@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\000032}}
.home-viewer-left-two {
  float: left; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\000036}}
  .home-viewer-right {
    float: left; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000310}}
    #view-sagittal.home {
      height: 250px; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000314}}
      #view-coronal.home {
        width: 240px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000318}}
        .view.home {
          margin-left: 15px;
          margin-right: 30px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000323}}
          .home-viewer-caption {
            text-align: center;
            font-size: 16px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000328}}
            .faq-q {
              font-size: 16px;
              font-family: 'Computer Modern Bold'; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000333}}
              .faq-a {
                margin-bottom: 25px;
                font-size: 14px; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000340}}
                #page-code p {
                  clear: left; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000344}}
                  #page-code .github-buttons {
                    float: left;
                    margin: 25px 0px 0px 20px;
                    clear: right; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000350}}
                    #page-code .code-group {
                      float: left;
                      clear: both; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/home\.css\.scss}line{font-family:\0000354}}
                      #page-code .code-group h3 {
                        float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\000031}}
.viewer-left-col {
  width: 270px;
  margin-bottom: 10px;
  float: left; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\000037}}
  .viewer-middle-col {
    width: 300px;
    margin-bottom: 20px;
    float: left; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000313}}
    .viewer-right-col {
      width: 320px;
      float: left; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000318}}
      #view-axial {
        width: 260px;
        height: 260px;
        margin-bottom: 10px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000336}}
        #view-coronal {
          width: 260px;
          height: 220px;
          margin-bottom: 20px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000342}}
          #view-sagittal {
            width: 264px;
            height: 260px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000347}}
            .view {
              float: left; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000351}}
              .nav-slider-vertical {
                height: 100%;
                margin-left: 5px;
                float: left; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000357}}
                .nav-slider-horizontal {
                  width: 100%;
                  margin-top: 5px;
                  float: left; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000363}}
                  canvas {
                    float: left; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000367}}
                    #layer-panel {
                      width: 290px;
                      float: left; }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000373}}
                      #layer-settings-panel {
                        font-size: 14px;
                        clear: left;
                        width: 280px;
                        margin-top: 10px;
                        float: left; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000381}}
                        .layer-container-half-width {
                          width: 50%;
                          float: left; }

                          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000386}}
                          .layer-container-full-width {
                            width: 100%;
                            float: left; }

                            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000391}}
                            #checkbox-list {
                              float: left;
                              margin: 20px 0px 0px 30px; }

                              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000396}}
                              .checkbox_row {
                                font-size: 14px;
                                margin-bottom: 5px; }
                                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\0000399}}
                                .checkbox_row > input {
                                  margin-right: 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003104}}
select.layer-settings {
  width: 120px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003108}}
  #layer-list-panel {
    width: 285px;
    float: left; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003113}}
    #layer-list {
      width: 280px;
      float: left; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003118}}
      li.layer_list_item {
        line-height: 1.2em;
        height: 30px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003123}}
        #layer_visible_list {
          width: 25px;
          float: left; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003128}}
          .visibility_icon {
            width: 30px;
            float: left;
            text-align: center;
            padding: 5px 3px;
            background: white;
            border-left: 1px solid #999999;
            border-right: 1px solid #999999; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003139}}
            .deletion_icon {
              width: 30px;
              float: left;
              text-align: center;
              padding: 5px 3px;
              background: white;
              border-left: 1px solid #999999;
              border-right: 1px solid #999999; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003150}}
              .download_icon {
                width: 30px;
                float: left;
                text-align: center;
                padding: 5px 3px;
                background: white;
                border-left: 1px solid #999999;
                border-right: 1px solid #999999; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003161}}
                #data-panel {
                  margin-top: 10px;
                  float: left;
                  font: 12px; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003167}}
                  #description {
                    float: left;
                    width: 264px;
                    display: none; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003173}}
                    .data-label {
                      width: 100px;
                      float: left;
                      margin-right: 5px;
                      padding-top: 5px; }

                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003180}}
                      .data-value {
                        font-size: 24px;
                        float: left;
                        line-height: 1.2em; }

                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003186}}
                        ul#layer-list {
                          margin: 0px;
                          padding: 0px;
                          list-style: none; }
                          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003187}}
                          ul#layer-list li {
                            border-width: 1px 1px 1px 1px;
                            border-style: solid;
                            border-color: #ddddbb #999999 #999999 #ddddbb;
                            background: white;
                            border-radius: 3px;
                            -moz-border-radius: 3px;
                            margin: 0px;
                            float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003202}}
#image-description {
  padding: 7px 5px;
  background: #eeeeee;
  border: 1px solid #cccccc;
  clear: left;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003212}}
  .layer_label {
    float: left;
    width: 180px;
    background: #eeeeee;
    padding: 5px 3px;
    font-size: 12px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003218}}
    .layer_label.selected {
      background: #9fafc7;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 1px ridge #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003227}}
.layer-settings-row {
  float: left;
  clear: both;
  margin-top: 8px;
  width: 100%; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003232}}
  .layer-settings-row .row-label {
    width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003237}}
.slider-text {
  width: 36px;
  float: left;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003245}}
  .layer-settings-slider {
    width: 60px;
    margin: 3px 8px 0px 4px;
    float: left; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/viewer\.css\.scss}line{font-family:\00003251}}
    #threshold-zero {
      float: left;
      width: 24px;
      font-size: 12px;
      margin-left: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\000031}}
#analysis-viewer {
  float: left; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\000039}}
  .analysis_search {
    margin-top: 20px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000312}}
    .analysis_search input {
      width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000317}}
#analysis-image-selector {
  width: 300px;
  margin: 20px 15px 0px 0px;
  float: right; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000322}}
  #analysis-image-selector select {
    width: 260px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000327}}
.plane-pos-box {
  width: 87px;
  float: left;
  text-align: center;
  vertical-align: middle;
  margin-right: 1px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000335}}
  .plane-pos-label {
    float: left;
    vertical-align: middle;
    font-size: 14px;
    padding-top: 10px;
    line-height: 1.2em; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000343}}
    .coordinate-info {
      width: 264px;
      float: left;
      margin-bottom: 10px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000348}}
      .coordinate-info input {
        width: 60px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.2em;
        margin: 0px 0px 3px 0px;
        text-align: center;
        vertical-align: middle;
        border-radius: 5px; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000359}}
        .coordinate-info input[type=number]::-webkit-inner-spin-button,
        .coordinate-info input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000366}}
.coordinate-head {
  height: 52px;
  width: 100%;
  float: left; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000372}}
  .coordinate-title {
    float: left;
    width: 120px;
    font-size: 20px;
    margin-top: 5px;
    line-height: 1.2em; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000380}}
    .layer-data-panel {
      width: 100%; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000384}}
      .intensity-info {
        width: 160px;
        padding-top: 5px;
        float: left; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000390}}
        .intensity-label {
          font-size: 16px;
          width: 70px;
          float: left;
          padding-top: 2px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\0000397}}
          .intensity-value {
            font-size: 22px;
            width: 60px;
            float: left; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\00003103}}
            .whats-here-box {
              float: right; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/analyses\.css\.scss}line{font-family:\00003115}}
              .analysis-search {
                padding-top: 30px;
                float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\000031}}
.row_label {
  font-weight: bold; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\0000310}}
  #show-study .dataTables_wrapper {
    font-size: 12px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\0000314}}
    #show-study .dataTables_filter input {
      font-size: 12px;
      height: 1.1em;
      width: 60px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\0000319}}
      #show-study .dataTables_filter label {
        font-size: 12px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\0000323}}
  #show-study .dataTables_processing {
    font-size: 12px; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\0000327}}
    #show-study .dataTables_length select {
      font-size: 12px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/studies\.css\.scss}line{font-family:\0000330}}
      #show-study .dataTables_length label {
        font-size: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\000031}}
#locations .lead {
  float: left;
  clear: left; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\000036}}
  #loc-view-axial {
    height: 195px;
    margin-bottom: 20px;
    margin-left: 20px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000313}}
    #loc-view-coronal {
      height: 165px;
      margin-left: 20px; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000319}}
      #loc-view-sagittal {
        height: 200px; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000324}}
        .loc-viewer {
          margin-left: 20px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000328}}
          #study-table {
            font-size: 13px; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000332}}
            #load-location-box {
              width: 300px;
              text-align: center;
              margin-top: 30px;
              float: left; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000339}}
              #rad-in {
                width: 200px;
                margin-top: 7px; }

                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000344}}
                .location-studies-head {
                  margin: 20px 0px 20px 0px; }

                  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000348}}
                  #current-location-info {
                    float: left;
                    font-size: 28px; }

                    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000353}}
                    .location-adjust-radius {
                      float: left;
                      height: 70px;
                      padding-top: 6px;
                      clear: left;
                      font-size: 18px; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000360}}
                      .location-adjust-radius .radius-element {
                        float: left;
                        height: 40px;
                        padding-right: 5px; }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/locations\.css\.scss}line{font-family:\0000366}}
                        .location-adjust-radius input {
                          float: left;
                          text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\000031}}
.analysis-list {
  width: 150px;
  float: left;
  font-size: 12px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000310}}
  .highlight-table-row {
    background-color: #666666 !important;
    color: white;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000313}}
    .highlight-table-row a {
      color: white; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000314}}
      .highlight-table-row a:hover {
        color: #dddddd !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000320}}
.decoder-description {
  font-size: 18px;
  margin-top: 30px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000325}}
  .decoder-options {
    width: 100%;
    position: relative;
    margin: 40px 0px 0px 15px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000331}}
    .button-box {
      margin-right: 40px;
      float: left; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000336}}
      .btn-giant {
        font-size: 26px !important;
        line-height: 1.2em; }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000341}}
        .decoder-or {
          float: left;
          vertical-align: middle;
          margin: 12px 10px 0px 0px;
          font-size: 20px; }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000348}}
          .decoder-form {
            vertical-align: middle;
            float: left;
            margin: 10px 0px 0px 0px;
            font-size: 20px;
            line-height: 1.4em; }

            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000356}}
            #loading-message {
              font-size: 26px;
              width: 460px;
              display: none;
              z-index: 10;
              position: absolute;
              left: 100px;
              top: 200px;
              text-align: center; }

              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000367}}
              #scatterplot {
                position: relative; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/decode\.css\.scss}line{font-family:\0000369}}
                #scatterplot img {
                  position: absolute; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/genes\.css\.scss}line{font-family:\000031}}
#page-genes input.plane-pos {
  width: 50px;
  font-size: 20px;
  height: 34px;
  line-height: 1.2em;
  margin: 0px 0px 4px 6px;
  text-align: center;
  vertical-align: top;
  padding: 3px;
  border-radius: 3px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/genes\.css\.scss}line{font-family:\0000314}}
  #coordinates.data-row {
    text-align: center; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/genes\.css\.scss}line{font-family:\0000318}}
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/jquery-ui-override\.css\.scss}line{font-family:\000031}}
.ui-slider-range.ui-widget-header {
  background: white; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/jquery-ui-override\.css\.scss}line{font-family:\000035}}
  .ui-slider {
    border-radius: 2px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/jquery-ui-override\.css\.scss}line{font-family:\000039}}
    .ui-slider-horizontal {
      height: 6px;
      top: 2px; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/jquery-ui-override\.css\.scss}line{font-family:\0000312}}
      .ui-slider-horizontal .ui-slider-handle {
        height: 20px;
        top: -7px;
        margin-left: -4px;
        border-radius: 2px;
        width: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/jquery-ui-override\.css\.scss}line{font-family:\0000321}}
.ui-slider-vertical {
  width: 6px;
  left: 4px; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/jquery-ui-override\.css\.scss}line{font-family:\0000324}}
  .ui-slider-vertical .ui-slider-handle {
    width: 20px;
    height: 8px;
    margin-left: -2px;
    border-radius: 2px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\000031}}
.option-bar {
  width: 200px;
  padding: 10px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\000036}}
  .form-group {
    width: 400px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000310}}
    .huge-text {
}

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000314}}
      @font-face {
        font-family: 'Computer Modern';
        src: url('/static/fonts/cmunss.otf'); }

        @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000319}}
        @font-face {
          font-family: 'Computer Modern Bold';
          src: url('/static/fonts/cmunsx.otf'); }

          @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000324}}
          .big-text {
            font-size: 36px;
            float: left; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000328}}
            .big-text input {
              width: 80px;
              font-size: 32px;
              font-weight: bold;
              height: 48px;
              margin: 0px 0px 4px 6px;
              text-align: center;
              vertical-align: middle;
              padding: 0px 4px 0px 10px;
              border-radius: 5px; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000340}}
              .big-text input[type=number]::-webkit-inner-spin-button,
              .big-text input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000347}}
.big-link {
  font-size: 24px; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000351}}
  .help {
    margin-top: 15px; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000355}}
    ul.nav-tabs, ul.nav-pills {
      font-size: 16px; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/home\/nsweb\/Dropbox\/nsweb\/nsweb\/static\/scss\/style\.scss}line{font-family:\0000359}}
      ul.navbar-nav {
        font-size: 18px; }
