#main {
	margin: 0 auto
	margin-bottom: 30px
	float: none
}

#content {
	/*padding: 30px*/
}

.container {	
	background: white
	border-left: 1px solid #666
	border-right: 1px solid #666
	border-bottom: 1px solid #999
	padding-bottom: 20px
}

.top-space0 {
	padding-top: 0px;
	margin-top: 0px;
}

.top-space20 {
	margin-top: 20px
}

.top-space40 {
	margin-top: 40px
}

.huge-text {
	font-size: 92px;
	font-family: 'Computer Modern';
}

#footer {
	font-family: 'Computer Modern';
	font-size: 15px;
	text-align: center;
}

.footer-info {
	padding-top: 12px;
	text-align: left;
}

.footer-links ul li {
	display: inline;
	text-decoration: none;
}

body, h1, h2, h3, h4, h5 {
	font-family: 'Computer Modern';
}

th[colspan="2"] {
	font-size: 1.2em;
	text-align: center;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 10px 35px 0px 0px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.bordered {
    border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
}

.expr-form-group{
    width: 600px;
}

#exprInput{
    width: 430px;
}