{% macro viewer(viewer_settings) %}
  <script  type="text/javascript">var options = {{viewer_settings.options}}, settings = ['no-zoom', 'layers','nav','checkboxes'], images = {{viewer_settings.images}}</script>
  <div class="viewer">
    <div id="viewer-left">
      <div id="view-coronal" class="view">
        <canvas  width="220" height="220"> </canvas>
        <div id="nav-yaxis" class="slider nav-slider-vertical"> </div>
      </div>
      <div id="view-axial" class="view">
        <canvas  width="220" height="264"> </canvas>
        <div id="nav-zaxis" class="slider nav-slider-vertical"> </div>
      </div>
    </div>
    <div id="viewer-right">
      <div id="view-sagittal" class="view">
        <canvas  width="264" height="220"> </canvas>
        <div id="nav-xaxis" class="slider nav-slider-horizontal"> </div>
      </div>
      <div id="data-panel">
        <div id="coordinates" class="data-row">
          <div class="data-label">Coordinates:</div>
          <div id="data-current-coords" class="data-value"> </div>
        </div>
        <div id="value" class="data-row">
          <div id="image-intent" class="data-label"> </div>
          <div id="data-current-value" class="data-value"> </div>
        </div>
        <div id="description" class="data-row">
          <div class="data-label">Description:</div>
          <div id="image-description"> </div>
        </div>
      </div>
    </div>
    <div id="layer-panel">
      <b>Layers</b>
      <div id="layer-list-panel">
        <div id="layer_visible_list"> </div>
        <ul id="layer-list" class="layer-settings"> </ul>
      </div>
      <div id="layer-settings-panel">
        <div class="layer-container-half-width">
            <b>Color palette:</b>
        </div>
        <select id="select-color" class="layer-settings">
            <b>Positive/Negative:</b>
        </select>
        <select id="select-sign" class="layer-settings"> </select>
        <div id="checkbox-list"> </div>
        <div class="layer-container-full-width">
          <div class="layer-settings-row">label Thresholds:</div>
          <input id="neg-threshold-text" class="slider-text"> </input>
          <div id="neg-threshold" class="slider layer-settings layer-settings-slider"> </div>
          <div id="threshold-zero"> </div>
          <div id="pos-threshold" class="slider layer-settings layer-settings-slider"> </div>
          <input id="pos-threshold-text" class="slider-text"> </input>
          <div class="layer-settings-row"> </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
