doctype html
/![if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7"
/![if IE 7] <html class="no-js lt-ie9 lt-ie8"
/![if IE 8] <html class="no-js lt-ie9"
/! [if gt IE 8]><!
html.no-js
  /! <![endif]
  head
    meta charset="utf-8"
      meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
        title  % block title %}{{ page_title|default(('Neurosynth')) }}{% endblock %
        meta content="" name="description"
          meta content="width=device-width, initial-scale=1.0" name="viewport"
            | {% assets "css_all" -%}
            link href=("{{ ASSET_URL }}") rel="stylesheet"
              | {%- endassets %}
              | {% block css_style %}
              | {% endblock %}
              javascript:
                | var _gaq=[['_setAccount','UA-39492382-1'],['_trackPageview']];
                | (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                | g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                | s.parentNode.insertBefore(g,s)}(document,'script'));
      body.bs-docs-home
    /![if lt IE 7]
      | <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p
    a.sr-only href="#content"  Skip to main content
    /! Docs master nav
    header#top.navbar.navbar-static-top.navbar-inverse.bs-docs-nav role="banner"
      .container
        .navbar-header
          button.navbar-toggle data-target=".bs-navbar-collapse" data-toggle="collapse" type="button"
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="../"  Neurosynth.org (beta)
        nav.collapse.navbar-collapse.bs-navbar-collapse role="navigation"
          ul.nav.navbar-nav
            li
              a href=""  Home
            li
              a href="/features/"  Features
            li
              a href="/studies/"  Studies
            li
              a href="/locations/"  Locations
          ul.nav.navbar-nav.navbar-right
    | {% block flash_message %}
    | {% with messages = get_flashed_messages(with_categories=True) %}
    | {% if messages %}
    .container
      #flash_message_container
        | {% for category, msg in messages %}
        .alert.category class=("alert-{{ }}")
          button.close data-dismiss="alert" type="button"  x
          | {{ msg }}
        | {% endfor %}
    | {% endif %}
    | {% endwith %}
    | {% endblock %}
    .container
      #content
        | {% block content %}{% endblock %}
    | {% assets "js_vendor" -%}
    script src=("{{ ASSET_URL }}")
    | {% endassets %}
    | {% assets "js_main" -%}
    script src=("{{ ASSET_URL }}")
    | {% endassets %}
