<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js') }}">
    <title>{% block title %}{% endblock %} - Neurosynth</title>
    {% endblock %}
  </head>
  <body>
    <div id="main">
      <div class="container">
        <div class="navbar navbar-static-top navbar-inverse">
          <div class="navbar-inner">
            <div class="brand">neurosynth.org (beta)
              <ul class="nav nav-pills">
                <li class=""><a href="">Home</a></li>
                <li class=""><a href="/features/">Features</a></li>
                <li class=""><a href="/studies/">Studies</a></li>
                <li class=""><a href="/locations/">Locations</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>
  </body>
</html>