// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.big-text {
	font-size: 36px;
	float: left;

	input {
		width: 60px;
		font-size: 32px;
		font-weight: bold;
		line-height: 1.2em;
		height: 36px;
		margin: 0px 0px 4px 10px;
		text-align: center;
	}
}

#locations .lead {
	float: left;
	clear: left;
}

#loc-view-axial {
  // width: 220px;
  height: 195px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#loc-view-coronal {
  // width: 260px;
  height: 165px;
  margin-left: 20px;
}

#loc-view-sagittal {
  // width: 264px;
  height: 200px;
}

.loc-viewer {
	margin-left: 20px;
}

#study-table {
	font-size: 13px;
}

#load-location-box {
	width: 300px;
	text-align: center;
	margin-top: 30px;
	float: left;
}