#viewer-left {
  width: 260px;
  float: left;
  // border: 1px solid black
}

#viewer-right {
  width: 280px;
  float: left;
  // border: 1px solid black
}

#view-axial {
  width: 260px;
  height: 260px;
  margin-bottom: 10px;
}

#view-coronal {
  width: 260px;
  height: 220px;
  margin-bottom: 20px;
}

#view-sagittal {
  width: 264px;
  height: 260px;
}

.view {
  float: left;
}

.nav-slider-vertical {
  height: 100%;
  margin-left: 5px;
  float: left;
}

.nav-slider-horizontal {
  width: 100%;
  margin-top: 5px;
  float: left;
}

canvas {
  float: left;
}

#layer-panel {
  width: 290px;
  float: left;
  margin-left: 12px;
}

#layer-settings-panel {
  font-size: 14px;
  clear: left;
  width: 280px;
  margin-top: 10px;
  float: left;
}

.layer-container-half-width {
  width: 50%;
  float: left;
}

.layer-container-full-width {
  width: 100%;
  float: left;
}

#checkbox-list {
  float: left;
  margin: 20px 0px 0px 30px;
}

.checkbox_row {
  font-size: 14px;
  margin-bottom: 5px;
  &>input {
    margin-right: 5px;
  }
}

select.layer-settings {
  width: 120px;
}

#layer-list-panel {
  width: 285px;
  float: left;
}

#layer-list {
  width: 280px;
  float: left;
}

#layer_visible_list {
  width: 25px;
  float: left;
}

.visibility_icon {
  width: 20px;
  // height: 25px
  float: left;
  text-align: center;
  padding: 5px 3px;
  background: white;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

.deletion_icon {
  width: 20px;
  // height: 20px
  float: left;
  text-align: center;
  padding: 5px 3px;
  background: white;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

.download_icon {
  width: 20px;
  // height: 20px
  float: left;
  text-align: center;
  padding: 5px 3px;
  background: white;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
}

#data-panel {
  margin-top: 10px;
  float: left;
  font: 12px;
}

.data-row {
  padding-bottom: 15px;
  float: left;
  width: 100%;
  clear: both;
}

.data-label {
  width: 100px;
  float: left;
  margin-right: 5px;
  padding-top: 5px;
}

.data-value {
  font-size: 24px;
  float: left;
  line-height: 1.2em;
}

ul#layer-list {
  li {
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #ddddbb #999999 #999999 #ddddbb;
    background: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 0px;
    float: left;
  }
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#image-description {
  padding: 7px 5px;
  background: #eeeeee;
  border: 1px solid #cccccc;
  clear: left;
  font-size: 12px;
  border-radius: 3px;
  -moz-border-radius: 3px;
}

.layer_label {
  float: left;
  width: 180px;
  background: #cccccc;
  padding: 5px 3px;
  font-size: 12px;
  &.selected {
    background: #ccffff;
  }
}

.layer-settings-row {
  float: left;
  clear: both;
  margin-top: 8px;
  width: 100%;
}

.slider-text {
  width: 36px;
  float: left;
  font-size: 12px;
  line-height: 1.2em;
  text-align: center;
}

.layer-settings-slider {
  width: 60px;
  margin: 3px 8px 0px 4px;
  float: left;
}

#threshold-zero {
  float: left;
  width: 24px;
  font-size: 12px;
  margin-left: 8px;
}
