{% set page_title = 'Neurosynth' %}
{% extends "layout/base.html" %}
<div style="background-color: #0077B6;color: white; padding: 10px">
  <div class="container" style="display: flex">
      <div>
          <h6 style="font-size: 2rem">✨ 
              <a style="color: orange; text-decoration: underline" href="https://compose.neurosynth.org" target="_blank">Try out Neurosynth Compose</a>, the new free and open platform for custom neuroimaging meta-analysis!
              <a style="color: orange;" href="https://neurostuff.github.io/compose-docs/blog/announcing-ns-compose" target="_blank">Learn more</a>
            ✨</h6>
      </div>
      <div style="display: flex; align-items: center; font-size: 2.5rem; margin-left: 50px">x</div>
  </div>
</div>
{% block content %}
  {% import "macros/_home_viewer.html" as viewers %}


  <div class="row" id="page-home">
    <div class="col-md-10">
      <div class="huge-text">neurosynth.org</div>
      <div class="lead">Neurosynth is a platform for large-scale, automated synthesis of functional magnetic resonance imaging (fMRI) data.</div>

      <div class="lead">It takes thousands of published articles reporting the results of fMRI studies, chews on them for a bit, and then spits out images that look like this:</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <script type="text/javascript">
        var options = {"panzoomEnabled":false}
        var settings = ['no-zoom', 'nav']
        var analysis = '{{ analysis.id }}'
      </script>
      <p>{{ viewers.viewer(analysis) }}</p>
      <hr class="top-space40">

  <div class="row">
    <div class="col-md-10">
      <h3>Database Status</h3>
      <div class="current-status style="font-size: 18px;">
        <p>{{ stats['n_peaks'] }} activations reported in <a href="/studies" class="big-link">{{ stats['n_studies'] }} studies</a></p>
        <p>Interactive, downloadable meta-analyses of <a href="/analyses/terms" class="big-link">{{ stats['n_analyses'] }} terms</a></p>
        <p>Functional connectivity and coactivation maps for over <a href="/locations" class="big-link">150,000 brain locations</a></p>
      </div>
    </div>
  </div>
{% endblock %}
