{% set page_title = 'Neurosynth|Term-based meta-analyses' %}
{% extends "layout/base.html" %}
{% block content %}
	<h1>Meta-analyses</h1>

	<a href="{{url_for('analyses.list_terms')}}">
		<h3>Term-based meta-analyses</h3>
	</a>
	<p>The primary set of meta-analyses in Neurosynth are based on the occurrence of terms in the abstracts of published neuroimaging articles. At present, the database contains {{n_terms}} term-based meta-analyses ranging from <a href="{{ url_for('analyses.show_term', term='action observation') }}">action observation</a> to <a href="{{ url_for('analyses.show_term', term='working memory') }}">working memory</a>.</p>

	<a href="{{url_for('analyses.list_topic_sets')}}">
		<h3>Topic-based meta-analyses</h3>
	</a>
	<p>The topic-based meta-analyses on Neurosynth represent an effort to move beyond individual term occurrences by using a standard topic modeling approach (<a href="http://en.wikipedia.org/wiki/Latent_Dirichlet_allocation">Latent Dirichlet allocation</a>) to identify latent topics in the abstracts of articles in the database. For a more detailed explanation, see <a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1002707">Poldrack et al (2012)</a>. Here we provide several sets of topics estimated at different resolutions, ranging from relatively coarse (50 topics) to more fine-grained (200 topics).</p>
{% endblock %}