// Place all the styles related to the decode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feature-list {
	width: 150px;
	float: left;
	font-size: 12px;
}

.highlight-table-row {
	background-color: #666666 !important;
	color: white;
	a { color: white; }
	a:hover { color: #dddddd !important; }
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}