// Place all the styles related to the decode controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.analysis-list {
	width: 150px;
	float: left;
	font-size: 12px;
}

.highlight-table-row {
	background-color: #666666 !important;
	color: white;
	a { color: white; }
	a:hover { color: #dddddd !important; }
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.decoder-description {
	font-size: 18px;
	margin-top: 30px;
}

.decoder-options {
	width: 100%;
	position: relative;
	margin: 40px 0px 0px 15px;
}

.button-box {
	margin-right: 40px;
	float: left;
}

.btn-giant {
	font-size: 26px !important;
	line-height: 1.2em;
}

.decoder-or {
	float: left;
	vertical-align: middle;
	margin: 12px 10px 0px 0px;
	font-size: 20px;
}

.decoder-form {
	vertical-align: middle;
	float: left;
	margin: 10px 0px 0px 0px;
	font-size: 20px;
	line-height: 1.4em;
}

#loading-message {
	font-size: 26px;
	width: 460px;
	display: none;
	z-index: 10;
	position: absolute;
	left: 100px;
	top: 200px;
	text-align: center;
}

#scatterplot {
	position: relative;
	img {
		position: absolute;
	}
}
