// Place all the styles related to the explore controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#image-library {
	// width: 680px;
	width: 520px;
	font-size: 12px;
	height: 500px;
}

#explore-wrapper {
	float: left;
}

.source {

	clear: left;
	float: left;
	margin-top: 5px;
	font-size: 16px;
	line-height: 1.2em;

	.source-label {
		float: left;
		line-height: 2em;
		// line-height: 1.2em;
	}

	input {
		margin: 0px 4px 0px 8px;
		// line-height: 1.2em;
		float: left;
	}

	button {
		margin: 0px;
		float: left;
	}

}

#button-set>button {
	margin: 0px 5px 0px 0px;
	font-size: 20px;
	padding: 10px;
}

#explore-data-panel {
	background: #eee;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 250px;
	margin-left: 15px;
	margin-top: 25px;
	padding: 10px;
	float: left;
}

.explore-data-box {
	float: left;
	padding-bottom: 10px;
	font-size: 16px;
}