// Place all the styles related to the features controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.feature_search {
	margin-top: 20px;

	input {
		width: 300px;
	}
}

#feature-image-selector {
	width: 300px;
	margin: 20px 15px 0px 0px;
	float: right;

	select {
		width: 260px;
	}
}