
.home-viewer-left-two {
	float: left;
}

.home-viewer-right {
	float: left;
}

#view-sagittal.home {
	height: 250px;
}

#view-coronal.home {
	width: 240px;
}

.view.home {
	margin-left: 15px;
	margin-right: 30px;
}

.home-viewer-caption {
	text-align: center;
	font-size: 16px;
}

.faq-q {
	font-size: 16px;
	font-family: 'Computer Modern Bold';
}

.faq-a {
	margin-bottom: 25px;
	font-size: 14px;
}