// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mini-box {
	padding-left: 10px;
	border-left: 1px solid #999;
	float: right;
}