.big-text {
	font-size: 36px;
	float: left;

	input {
		width: 80px;
		font-size: 32px;
		font-weight: bold;
		height: 48px;
		margin: 0px 0px 4px 6px;
		text-align: center;
		vertical-align: middle;
		padding: 0px 4px 0px 10px;
		border-radius: 5px;
	}

	input[type=number]::-webkit-inner-spin-button, 
	input[type=number]::-webkit-outer-spin-button { 
	  -webkit-appearance: none; 
	  margin: 0; 
	}
}

#locations .lead {
	float: left;
	clear: left;
}

#loc-view-axial {
  // width: 220px;
  height: 195px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#loc-view-coronal {
  // width: 260px;
  height: 165px;
  margin-left: 20px;
}

#loc-view-sagittal {
  // width: 264px;
  height: 200px;
}

.loc-viewer {
	margin-left: 20px;
}

#study-table {
	font-size: 13px;
}

#load-location-box {
	width: 300px;
	text-align: center;
	margin-top: 30px;
	float: left;
}

#rad-in {
	clear: none;
	width: 200px;
}
